<div class="container">
  <h1 [ngStyle]="{'background-color':'green'}">
    {{ title }}
  </h1>
  <link rel="stylesheet" href="http://localhost/styles/mystyle.css" />
  <div class="jumbotron">
    <div class="container">
       <div id="todo">
          <table id="todoTable" class="table" >
             <thead>
                <tr>
                   <th><input type="button" onclick="location.href='http://localhost/home.php';"class="btn btn-primary" id="home" value="Home"/></th>
                   <th><input type="button" class="btn btn-primary" id="about" value="About"/></th>
                   <th><input type="button" class="btn btn-primary" id="photos" value="Photos"/></th>
                   <th><input type="button" class="btn btn-primary" id="reviews" value="Reviews"/></th>
                   <th><input type="button" class="btn btn-primary" id="subscribe" value="Subscribe" onclick="location.href='http://localhost:4200';"/></th>
                   <th><input type="button" onclick="location.href='http://localhost/donate.html';"class="btn btn-primary" id="donate" value="Donate"/></th>
                   <th><input type="button" class="btn btn-primary" id="signIn" value="Sign In" onclick="location.href='http://localhost/login.php';"/></th>
                   <th><input type="button" class="btn btn-primary" id="help" value="Help" onclick="location.href='http://localhost/help.php';"/></th>
                </tr>
             </thead>
          </table>
       </div>
    </div>

  Display data received from the back end <br/>
  response data = {{ responsedata | json}}
  <br/>
  <hr/>
  Data binding
  <br/>
  {{ orderForm.value | json }}
  <br/>
  {{ orderModel | json }} 
  <hr/>

  <form #orderForm="ngForm">
    <div class="form-group">
      <label>Email: </label>
      <input [(ngModel)]="orderModel.email" type="email" class="form-control" name="email">
    </div>

    <div class="form-group">
      <select [(ngModel)]="orderModel.time" class="custom-select" name="time">
        <option value="">How often would you like to receive emails? </option>
        <option *ngFor="let time of times">{{time}} </option>
      </select>
    </div>
    <button class="btn btn-primary" (click)="senddata(orderForm.value)">Subscribe</button>
  </form>

</div>
