<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
</div>
<link rel="stylesheet" href="http://localhost/styles/mystyle.css" />
<div class="jumbotron">
    <div class="container">
       <div id="todo">
          <table id="todoTable" class="table" >
             <thead>
                <tr>
                   <th><input type="button" onclick="location.href='http://localhost/home.php';"class="btn btn-primary" id="home" value="Home"/></th>
                   <th><input type="button" class="btn btn-primary" id="about" value="About"/></th>
                   <th><input type="button" class="btn btn-primary" id="photos" value="Photos"/></th>
                   <th><input type="button" class="btn btn-primary" id="reviews" value="Reviews"/></th>
                   <th><input type="button" class="btn btn-primary" id="subscribe" value="Subscribe" onclick="location.href='http://localhost:4200';"/></th>
                   <th><input type="button" onclick="location.href='http://localhost/donate.html';"class="btn btn-primary" id="donate" value="Donate"/></th>
                   <th><input type="button" class="btn btn-primary" id="signIn" value="Sign In" onclick="location.href='http://localhost/login.php';"/></th>
                   <th><input type="button" class="btn btn-primary" id="help" value="Help" onclick="location.href='http://localhost/help.php';"/></th>
                </tr>
             </thead>
          </table>
       </div>
    </div>
 </div>